.sidebar {
    width: 241px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    background: #000;
    flex-shrink: 0;
    .logo {
        padding: 0 24px;
        margin-bottom: 18px;
        img {
            max-width: 131px;
        }
    }
    .sidebar-menu {
        ul {
            display: flex;
            flex-direction: column;
            li {
                padding: 0 8px;
                a {
                    display: flex;
                    align-items: center;
                    height: 40px;
                    padding: 0 16px;
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--link);
                    gap: 16px;
                    &.active {
                        color: #fff;
                    }
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    .sidebar-collection {
        margin-top: 24px;
        ul {
            li {
                a {
                    padding: 8px 24px;
                    display: flex;
                    align-items: center;
                    color: var(--link);
                    font-weight: 500;
                    font-size: 14px;
                    gap: 16px;
                    transition: 0.3s;
                    &:hover {
                        color: #fff;

                        .coll {
                            opacity: 1;
                        }
                        .liked {
                            opacity: 1;
                        }
                    }

                    span {
                        width: 24px;
                        height: 24px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 2px;
                        &.coll {
                            background: #fff;
                            color: #000;
                            opacity: 0.7;
                        }
                        &.liked {
                            background: linear-gradient(135deg, #450af5, #c4efd9);
                            color: #fff;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }

    .playlist {
        margin: 0 24px;
        margin-top: 10px;
        padding-top: 16px;
        flex: auto;
        border-top: 1px solid #ffffff2b;
        overflow: auto;
        ul {
            li {
                a {
                    font-size: 13px;
                    color: var(--link);
                    font-weight: 300;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    .download {
        padding: 0 8px;
        flex-shrink: 0;
        height: 40px;
        display: flex;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            padding: 0 16px;
            color: var(--link);
            font-size: 14px;
            font-weight: 500;
            gap: 16px;
            &:hover {
                color: #fff;

            }
        }
    }

    .sidebar-cover {
        padding-top: 100%;
        background: #fff;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
        .left-cover-btn {
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0,0,0,.7);
            color: var(--link);
            border: 0;
            position: absolute;
            top: 5px;
            right: 5px;
            border-radius: 50%;
            opacity: 0;
            z-index: 3;
            transform: rotate(180deg);
           
        }
        &:hover .left-cover-btn {
            opacity: 1;
        }
    }
}
